<link rel="stylesheet" href="/static/userprofile.css">
{{#if username}}
{{!-- USER PROFILE --}}
<figure class="fir-image-figure">
  <a class="fir-imageover" rel="noopener" href="/">
    <img class="fir-author-image fir-clickcircle"
      src="https://icons.veryicon.com/png/256/business/bitcoin-icon/anonymous-4.png" alt="userprofile">
  </a>

  <figcaption>
    <div class="fig-author-figure-title">Hello <span>{{username}} 👋</span> </div>
    <div class="fig-author-figure-title">Last score: <span>{{userPrevData.lastScore}} pt.</span> </div>
    <div class="fig-author-figure-title">Time taken: <span>{{userPrevData.lastTime}} sec.</span> </div>
    <div class="fig-author-figure-title">Module Played: <span>{{userPrevData.lastModule}}</span> </div>

  </figcaption>

</figure>
{{!-- USER PROFILE --}}
<div class="user-profile-btn">
  <a href="/users/logout">Log Out</a>
</div>

<div class="leaderboard-btn">
  <div class="user-profile-btn" style="right: 4rem;">
    <a href="/game/ransomeware/highscore">Leaderboard</a>
  </div>
</div>


{{else}}
<div class="user-profile-btn">
  <a href="/users/register">Register </a>
</div>
{{/if}}
